<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360148299149-7gj0mqiakb37su7ju5rar41i59nphevq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360148299149-7gj0mqiakb37su7ju5rar41i59nphevq</string>
	<key>API_KEY</key>
	<string>AIzaSyCDjYqZKz42lQoRBRDKimOhX7fZTdFd6R4</string>
	<key>GCM_SENDER_ID</key>
	<string>360148299149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dottie</string>
	<key>PROJECT_ID</key>
	<string>dottie-9aacb</string>
	<key>STORAGE_BUCKET</key>
	<string>dottie-9aacb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360148299149:ios:d89c2623cd21a3ab9561c4</string>
	<key>DATABASE_URL</key>
	<string>https://dottie-9aacb-default-rtdb.firebaseio.com</string>
</dict>
</plist>